<!-- 
    <div class="border sticky-top text-center">
        <nav class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <div class="navbar navbar-light bg-light text-center">
                <div class="container-fluid">
                    <a class="navbar-brand float-md-left mb-0" href="/">
                        <img id="image" src="/images/logo.png" alt="" width="35" height="29"
                            class="d-inline-block align-text-top">
                        MeowPlay
                    </a>
                    <div class="float-right d-inline-block">
                        <% if(!currentUser) {%> 
                        <a class="d-inline-block nav-link m-2" href="/login" id="navLinks">Login</a>
                        <a class="d-inline-block nav-link m-2" href="/register" id="navLinks">Register</a>
                        <% } else { %> 
                        <a class="d-inline-block nav-link m-2" href="/logout" id="navLinks">Logout</a>
                        <% } %> 
                        <a class="d-inline-block nav-link m-2" href="/cart"><span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-cart-fill" viewBox="0 0 16 16" id="cart">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg></a>
                                
                        </span>
        </nav>
    </div> -->



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand float-md-left mb-0" href="/">
            <img id="image" src="/images/logo.png" alt="" width="35" height="29" class="d-inline-block align-text-top">
            MeowPlay
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <% if(!currentUser) {%>
                    <a class="d-inline-block nav-link m-2" href="/login" id="navLinks">Login</a>
                    <a class="d-inline-block nav-link m-2" href="/register" id="navLinks">Register</a>
                    <% } else { %>
                        <a class="d-inline-block nav-link m-2" href="/logout" id="navLinks">Logout</a>
                        <% } %>
                            <a class="d-inline-block nav-link m-2" href="/cart"><span id="cartLogo">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-cart-fill" viewBox="0 0 16 16" id="cart">
                                        <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg></a>
                
                            </span>
                
                    
            </ul>

        </div>
    </div>
    </nav>