* {
    font-family: 'Itim', cursive;
}

.vertical-center {
    min-height: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
}

.cover-container {
    max-width: 60vw;
}

#table {
    margin: 0 auto;
    max-width: 60%;
}

.navbar {

    max-width: 60vw;
}

.border {
    color: #E6E6E3;
    background-color: white;
}

.nav-link {
    align-items: flex-end;
}

#cart:hover,
#navLinks:hover {
    transition-timing-function: ease-in-out;
    transform: translateY(-0.26em);
    transition: 300ms
}

#header,
.card-title,
.navbar,
h2,
#headerCart {
    color: #564471;
}

.navbar {
    background-color: white !important;
    position: sticky !important;
}

#icon {
    color: black;
}


.card {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 50px;
    /* Added */
    border: 0px;
}


.card-text {
    color: #999997;
}

#floatthis:hover {
    transition-timing-function: ease-in-out;
    transform: translateY(-0.35rem);
    transition: all 300ms ease-in-out;
}

.btn {
    background-color: #564471;
    color: white;
}

.btn:hover {
    background-color: white !important;

    color: #564471;
    border-radius: 15px;
    transition: all 600ms ease-in-out;
}

#back {
    background-color: white !important;
    
    color: #564471 !important;
    
    border: 1px solid #564471 ;
        
}

#back:hover {
    background-color: #564471 !important;
    color: white !important; 
    border-radius: 15px;
    transition: all 600ms ease-in-out;
}
.card-img-top {
    /* width: 200px; */
    height: 200px;
    object-fit: scale-down;
    /* border-bottom: 1px solid #E6E6E3; */
}

a {
    text-decoration: none
}

#price {
    color:#564471;
}